<div id="q-ethical-issues" class="question">
  {# __tr_block_0000:start #}<h3>9. 有哪些倫理議題與行為準則，將如何納入考量？</h3>{# __tr_block_0000:end #}

  <div class="answer">

    {# Research Projects - ethical approval #}
    {%- set projectsPath = [uuids.adminDetailsCUuid, uuids.projectsQUuid]|reply_path -%}
    {%- set projectsItems = repliesMap[projectsPath]|reply_items -%}
    {%- set projects = [] -%}
    {%- for projectItem in projectsItems -%}
      {%- set projectPrefix = [projectsPath, projectItem]|reply_path -%}
      {%- set projectName = repliesMap[[projectPrefix, uuids.projectNameQUuid]|reply_path]|reply_str_value -%}
      {%- set projectAcronym = repliesMap[[projectPrefix, uuids.projectAcronymQUuid]|reply_path]|reply_str_value -%}
      {%- set projEthicalApprovalPath = [projectPrefix, uuids.projEthicalApprovalQUuid]|reply_path -%}
      {%- set projEthicalApprovalAUuid = repliesMap[projEthicalApprovalPath]|reply_str_value -%}
      {%- if projectName and projEthicalApprovalAUuid == uuids.projEthicalApprovalYesAUuid -%}
        {%- set projEthicalApprovalAuthPath = [projEthicalApprovalPath, projEthicalApprovalAUuid, uuids.projEthicalApprovalAuthQUuid]|reply_path -%}
        {%- set projEthicalApprovalAuthItems = repliesMap[projEthicalApprovalAuthPath]|reply_items -%}
        {%- set projAuth = [] -%}
        {%- for projAuthItem in projEthicalApprovalAuthItems -%}
          {%- set projAuthStatusPath = [projEthicalApprovalAuthPath, projAuthItem, uuids.projEthicalApprovalAuthStatusQUuid]|reply_path -%}
          {%- set projAuthStatusAUuid = repliesMap[projAuthStatusPath]|reply_str_value -%}
          {%- set projAuthCasePath = [projEthicalApprovalAuthPath, projAuthItem, uuids.projEthicalApprovalAuthCaseQUuid]|reply_path -%}
          {%- set projAuthCase = repliesMap[projAuthCasePath]|reply_str_value -%}

          {%- if projAuthCase and projAuthStatusAUuid == uuids.projEthicalApprovalAuthStatusPlannedAUuid -%}{# __tr_block_0001:start #}
            {%- do projAuth.append({
              'status': '已規劃',
              'case': projAuthCase,
            }) -%}
          {# __tr_block_0001:end #}{%- elif projAuthCase and projAuthStatusAUuid == uuids.projEthicalApprovalAuthStatusAppliedAUuid -%}{# __tr_block_0002:start #}
            {%- do projAuth.append({
              'status': '已申請',
              'case': projAuthCase,
            }) -%}
          {# __tr_block_0002:end #}{%- elif projAuthCase and projAuthStatusAUuid == uuids.projEthicalApprovalAuthStatusGrantedAUuid -%}{# __tr_block_0003:start #}
            {%- do projAuth.append({
              'status': '已核准',
              'case': projAuthCase,
            }) -%}
          {# __tr_block_0003:end #}{%- elif projAuthCase and projAuthStatusAUuid == uuids.projEthicalApprovalAuthStatusRejectAUuid -%}{# __tr_block_0004:start #}
            {%- do projAuth.append({
              'status': '未核准',
              'case': projAuthCase,
            }) -%}
          {# __tr_block_0004:end #}{%- endif -%}

          {%- do projects.append({
            'name': projectName,
            'acronym': projectAcronym,
            'authorities': projAuth,
          }) -%}
        {%- endfor -%}
      {%- endif -%}
    {%- endfor -%}
    {%- if projects|length > 0 -%}
      {# __tr_block_0005:start #}<h4>倫理審查核准</h4>{# __tr_block_0005:end #}
      {# __tr_branch_sentence_original:PHA-VGhlIGZvbGxvd2luZyBwcm9qZWN0eyUgaWYgcHJvamVjdHN8bGVuZ3RoID4gMSAlfXN7JSBlbmRpZiAlfSByZXF1aXJlIGV0aGljYWwgYXBwcm92YWw6PC9wPg== #}{% if projects|length > 1 %}{# __tr_block_0006:start #}<p>以下專案需要倫理審查核准：</p>{# __tr_block_0006:end #}{% else %}{# __tr_block_0007:start #}<p>以下專案需要倫理審查核准：</p>{# __tr_block_0007:end #}{% endif %}{# __tr_branch_sentence_original:end #}
      <ul>
      {%- for project in projects -%}
        {# __tr_block_0008:start #}<li>
          <strong>{{ project.name }}</strong> {% if project.acronym %}({{ project.acronym }}) {% endif %}
          {% if project.authorities|length > 0 %}
          <ul>
            {% for authority in project.authorities %}
              <li>案號：<em>{{ authority.case }}</em>，狀態：<em>{{ authority.status }}</em>。</li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>{# __tr_block_0008:end #}
      {%- endfor -%}
      </ul>
    {%- endif -%}

    {# Produced datasets #}
    {%- set producedDataPath = [uuids.preservingCUuid, uuids.producedDataQUuid]|reply_path -%}
    {%- set producedDataItems = repliesMap[producedDataPath]|reply_items -%}
    {%- if producedDataItems|length > 0 -%}
      {# __tr_block_0009:start #}<h4>我們產生的資料</h4>{# __tr_block_0009:end #}
      {# __tr_block_0010:start #}<p>關於我們產生的資料，倫理面向如下：
      <ul>
      {%- for i in producedDataItems -%}
        {%- set pathPrefix = [producedDataPath, i]|reply_path -%}
        {%- set producedDataName = repliesMap[[pathPrefix, uuids.producedDataNameQUuid]|reply_path]|reply_str_value -%}
        {%- set containPersonal = repliesMap[[pathPrefix, uuids.containPersonalQUuid]|reply_path]|reply_str_value -%}
        {%- set containSensitive = repliesMap[[pathPrefix, uuids.containSensitiveQUuid]|reply_path]|reply_str_value -%}
        <li>
          <strong>{# __tr_inline_if_original:e3sgcHJvZHVjZWREYXRhTmFtZSBpZiBwcm9kdWNlZERhdGFOYW1lIGVsc2UgIihubyBuYW1lIGdpdmVuKSIgfX0= #}{% if producedDataName %}{{ producedDataName }}{% else %}（尚未提供名稱）{% endif %}{# __tr_inline_if_original:end #}</strong>
          {%- if containPersonal or containSensitive -%}
            <ul>
            {%- if containPersonal == uuids.containPersonalNoAUuid -%}
              <li>不包含個人資料。</li>
            {%- elif containPersonal == uuids.containPersonalYesAUuid -%}
              <li>包含個人資料。</li>
            {%- endif -%}
            {%- if containSensitive == uuids.containSensitiveNoAUuid -%}
              <li>不包含敏感資料。</li>
            {%- elif containSensitive == uuids.containSensitiveYesAUuid -%}
              <li>包含敏感資料。</li>
            {%- endif -%}
            </ul>
          {%- else -%}
          <span>- 尚無個人資料或敏感資料相關資訊。</span>
          {%- endif -%}
        </li>
      {%- endfor -%}{# __tr_block_0010:end #}
      </ul>
      </p>
    {%- endif -%}

    {# Collected data - personal/GDPR and ethical legislation #}
    {%- set collectPersonalPath = [uuids.creatingCUuid, uuids.collectPersonalQUuid]|reply_path -%}
    {%- set collectPersonalAUuid = repliesMap[collectPersonalPath]|reply_str_value -%}
    {%- set ethLegPath = [uuids.creatingCUuid, uuids.ethLegQUuid]|reply_path -%}
    {%- set ethLegAUuid = repliesMap[ethLegPath]|reply_str_value -%}
    {%- if collectPersonalAUuid or ethLegAUuid -%}
      {# __tr_block_0011:start #}<h4>我們蒐集的資料</h4>{# __tr_block_0011:end #}

      {%- if collectPersonalAUuid == uuids.collectPersonalNoAUuid %}
        {# __tr_block_0012:start #}<p>我們不會蒐集任何與個人相關的資料，即「個人資料」。</p>{# __tr_block_0012:end #}
      {%- elif collectPersonalAUuid == uuids.collectPersonalYesAUuid %}
        {%- set sentences = ['We will collect data related to individuals, i.e. "personal data".'] -%}
        {%- set cpersGdprPath = [collectPersonalPath, collectPersonalAUuid, uuids.cpersGdprQUuid]|reply_path -%}
        {%- set cpersGdprAUuid = repliesMap[cpersGdprPath]|reply_str_value -%}
        {%- if cpersGdprAUuid == uuids.cpersGdprExploreAUuid -%}{# __tr_block_0013:start #}
          {%- do sentences.append('我們已檢視歐盟《個人資料保護規則》（GDPR）的考量事項與相關資料。') -%}

          {# __tr_block_0013:end #}{# Legal Base #}
          {%- set legalBasePath = [cpersGdprPath, cpersGdprAUuid, uuids.cpersGdprLegalBasisQUuid]|reply_path -%}
          {%- set legalBaseAUuid = repliesMap[legalBasePath]|reply_str_value -%}
          {%- if legalBaseAUuid == uuids.cpersGdprLegalBasisPublicAUuid -%}{# __tr_block_0014:start #}
            {%- do sentences.append('我們基於社會公共利益蒐集個人資料，且該公共利益高於資料主體的隱私利益。') -%}
          {# __tr_block_0014:end #}{%- elif legalBaseAUuid == uuids.cpersGdprLegalBasisAskAUuid -%}{# __tr_block_0015:start #}
            {%- do sentences.append('我們會向資料主體取得同意。') -%}

            {# __tr_block_0015:end #}{%- set cpersConsentPath = [legalBasePath, legalBaseAUuid, uuids.cpersConsentQUuid]|reply_path -%}
            {%- set cpersConsentAUuid = repliesMap[cpersConsentPath]|reply_str_value -%}
            {%- if cpersConsentAUuid == uuids.cpersConsentUseAUuid -%}{# __tr_block_0016:start #}
              {%- do sentences.append('我們會就本專案特定用途取得同意。') -%}
            {# __tr_block_0016:end #}{%- elif cpersConsentAUuid == uuids.cpersConsentReuseAUuid -%}{# __tr_block_0017:start #}
              {%- do sentences.append('我們會就本專案使用及資料再次使用取得同意。') -%}
            {# __tr_block_0017:end #}{%- elif cpersConsentAUuid == uuids.cpersConsentUseAnonAUuid -%}{# __tr_block_0018:start #}
              {%- do sentences.append('我們會就本專案使用資料及匿名化取得同意；之後會將資料匿名化，以供再次使用。') -%}
            {# __tr_block_0018:end #}{%- elif cpersConsentAUuid == uuids.cpersConsentAnonAUuid -%}{# __tr_block_0019:start #}
              {%- do sentences.append('我們會請求匿名化的同意；我們會先將資料匿名化，後續處理都會以匿名資料進行。') -%}
            {# __tr_block_0019:end #}{%- endif -%}

            {%- set cpersExplainInformedPath = [legalBasePath, legalBaseAUuid, uuids.cpersExplainInformedQUuid]|reply_path -%}
            {%- set cpersExplainInformed = repliesMap[cpersExplainInformedPath]|reply_str_value -%}
            {%- if cpersExplainInformed -%}{# __tr_block_0020:start #}
              {%- do sentences.append('資料主體將透過以下方式獲得告知：') -%}
              {# __tr_block_0020:end #}{%- do sentences.append(cpersExplainInformed|dot) -%}
            {%- endif -%}

            {%- set cpersReusersPath = [legalBasePath, legalBaseAUuid, uuids.cpersReusersQUuid]|reply_path -%}
            {%- set cpersReusersAUuid = repliesMap[cpersReusersPath]|reply_str_value -%}
            {%- if cpersReusersAUuid == uuids.cpersReusersNoAUuid -%}{# __tr_block_0021:start #}
              {%- do sentences.append('同意書不會提供給資料再次使用者。') -%}
            {# __tr_block_0021:end #}{%- elif cpersReusersAUuid == uuids.cpersReusersYesAUuid -%}{# __tr_block_0022:start #}
              {%- do sentences.append('同意書將提供給資料再次使用者。') -%}
            {# __tr_block_0022:end #}{%- endif -%}

            {%- set cpersDescribeProcedurePath = [legalBasePath, legalBaseAUuid, uuids.cpersDescribeProcedureQUuid]|reply_path -%}
            {%- set cpersDescribeProcedure = repliesMap[cpersDescribeProcedurePath]|reply_str_value -%}
            {%- if cpersDescribeProcedure -%}{# __tr_block_0023:start #}
              {%- do sentences.append('取得資料主體同意的程序如下：') -%}
              {# __tr_block_0023:end #}{%- do sentences.append(cpersDescribeProcedure|dot) -%}
            {%- endif -%}

          {%- elif legalBaseAUuid == uuids.cpersGdprLegalBasisOtherAUuid -%}{# __tr_block_0024:start #}
            {%- do sentences.append('我們使用公共利益或同意以外的其他法律依據來蒐集個人資料： ') -%}

            {# __tr_block_0024:end #}{%- set cpersGdprLegalBasisOtherWhichPath = [legalBasePath, legalBaseAUuid, uuids.cpersGdprLegalBasisOtherWhichQUuid]|reply_path -%}
            {%- set cpersGdprLegalBasisOtherWhichAUuid = repliesMap[cpersGdprLegalBasisOtherWhichPath]|reply_str_value -%}
            {%- if cpersGdprLegalBasisOtherWhichAUuid == uuids.cpersGdprLegalBasisOtherWhichContractAUuid -%}{# __tr_block_0025:start #}
              {%- do sentences.append('為履行契約。') -%}
            {# __tr_block_0025:end #}{%- elif cpersGdprLegalBasisOtherWhichAUuid == uuids.cpersGdprLegalBasisOtherWhichLegitAUuid -%}{# __tr_block_0026:start #}
              {%- do sentences.append('正當利益。') -%}
            {# __tr_block_0026:end #}{%- elif cpersGdprLegalBasisOtherWhichAUuid == uuids.cpersGdprLegalBasisOtherWhichVitalAUuid -%}{# __tr_block_0027:start #}
              {%- do sentences.append('重大利益。') -%}
            {# __tr_block_0027:end #}{%- elif cpersGdprLegalBasisOtherWhichAUuid == uuids.cpersGdprLegalBasisOtherWhichLegalAUuid -%}{# __tr_block_0028:start #}
              {%- do sentences.append('法律要求。') -%}
            {# __tr_block_0028:end #}{%- endif -%}

          {%- endif -%}

          {# purpose  #}
          {%- set cpersGdprPurposePath = [cpersGdprPath, cpersGdprAUuid, uuids.cpersGdprPurposeQUuid]|reply_path -%}
          {%- set cpersGdprPurpose = repliesMap[cpersGdprPurposePath]|reply_str_value -%}
          {%- if cpersGdprPurpose -%}{# __tr_block_0029:start #}
            {%- do sentences.append('處理個人資料的目的可描述如下：') -%}
            {# __tr_block_0029:end #}{%- do sentences.append(cpersGdprPurpose|dot) -%}
          {%- endif -%}

          {# DPIA #}
          {%- set needDpiaPath = [cpersGdprPath, cpersGdprAUuid, uuids.cpersGdprNeedDpiaQUuid]|reply_path -%}
          {%- set needDpiaAUuid = repliesMap[needDpiaPath]|reply_str_value -%}
          {%- if needDpiaAUuid == uuids.cpersGdprNeedDpiaYesAUuid %}{# __tr_block_0030:start #}
            {%- do sentences.append('我們需要進行資料保護影響評估（DPIA）。') -%}
          {# __tr_block_0030:end #}{%- endif -%}
        {%- endif -%}

        <p>{{ sentences|join(' ') }}</p>
      {%- endif -%}

      {% if ethLegAUuid == uuids.ethLegNoAUuid %}
      {# __tr_block_0031:start #}<p>資料蒐集不受倫理法規規範。</p>{# __tr_block_0031:end #}
      {% elif ethLegAUuid == uuids.ethLegYesAUuid %}
        {%- set ethLegReviewPath = [ethLegPath, ethLegAUuid, uuids.ethLegReviewQUuid]|reply_path -%}
        {%- set ethLegReviewAUuid = repliesMap[ethLegReviewPath]|reply_str_value -%}
        {%- set ethLegHumanPath = [ethLegPath, ethLegAUuid, uuids.ethLegHumanQUuid]|reply_path -%}
        {%- set ethLegHumanAUuid = repliesMap[ethLegHumanPath]|reply_str_value -%}
        {# __tr_block_0032:start #}<p>
          資料蒐集受倫理法規規範。{% if ethLegReviewAUuid == uuids.ethLegReviewNoAUuid %}不屬於倫理審查範圍。{% elif ethLegReviewAUuid == uuids.ethLegReviewYesAUuid %}屬於倫理審查範圍。{% endif %}{% if ethLegHumanAUuid == uuids.ethLegHumanNoAUuid %}不涉及人體研究參與者。{% elif ethLegHumanAUuid == uuids.ethLegHumanYesAUuid %}涉及人體研究參與者。
          {% endif %}
        </p>{# __tr_block_0032:end #}
      {% endif %}
    {%- endif -%}
  </div>
</div>
