<div id="q-dm-responsible" class="question">
  {# __tr_block_0000:start #}<h3>14. 誰（例如角色、職位與所屬機構）將負責資料管理（即資料託管員）？</h3>{# __tr_block_0000:end #}

  <div class="answer">

    {%- set contributorsPath = [uuids.adminDetailsCUuid, uuids.contributorsQUuid]|reply_path -%}
    {%- set contributorsItems = repliesMap[contributorsPath]|reply_items -%}
    {%- if contributorsItems|length > 0 -%}
      {%- macro contributorsResponsibility(contributors, contributorRoleAUuid, responsibility) -%}
        {%- set names = [] -%}
        {%- for i in contributors -%}
          {%- set roles = repliesMap[[contributorsPath, i, uuids.contributorRoleQUuid]|reply_path]|reply_items -%}
          {%- set name = repliesMap[[contributorsPath, i, uuids.contributorNameQUuid]|reply_path]|reply_str_value -%}
          {%- if contributorRoleAUuid in roles and name -%}
            {%- do names.append(name) -%}
          {%- endif -%}
        {%- endfor -%}
        {%- set nNames = names|length -%}
        {%- if nNames > 0 -%}
          {# __tr_block_0001:start #}<p>
            {%- if nNames > 2 -%}
              {{ names[0:-1]|join("、") }}、{{ names[-1] }}{{ responsibility }}
            {%- elif nNames == 2 -%}
              {{ names[0] }}、{{ names[1] }}{{ responsibility }}
            {%- else -%}
              {{ names[0] }}{{ responsibility }}
            {%- endif %}
          </p>{# __tr_block_0001:end #}
        {%- endif -%}
      {%- endmacro -%}
      {# Data curators #}{# __tr_block_0002:start #}
      {{ contributorsResponsibility(contributorsItems, uuids.contributorRoleDataCuratorAUuid, "負責審查、補充、清理或標準化後設資料及相關資料，並將其提交至資料中心或資料儲存庫，以供儲存、使用與維護。") }}
      {# __tr_block_0002:end #}{# Data collectors #}{# __tr_block_0003:start #}
      {{ contributorsResponsibility(contributorsItems, uuids.contributorRoleDataCollectorAUuid, "負責尋找、彙整與蒐集資料。") }}
      {# __tr_block_0003:end #}{# Data managers #}{# __tr_block_0004:start #}
      {{ contributorsResponsibility(contributorsItems, uuids.contributorRoleDataManagerAUuid, "負責維護完成後的資源。") }}
      {# __tr_block_0004:end #}{# Data stewards #}{# __tr_block_0005:start #}
      {{ contributorsResponsibility(contributorsItems, uuids.contributorRoleDataStewardAUuid, "負責資料的管理與完善，包括資料處理、資料政策、資料指引與資料可用性。") }}
      {# __tr_block_0005:end #}{# Distributors #}{# __tr_block_0006:start #}
      {{ contributorsResponsibility(contributorsItems, uuids.contributorRoleDistributorAUuid, "負責以電子或紙本形式產生並散布資源副本。") }}
      {# __tr_block_0006:end #}{# Data protection officers #}{# __tr_block_0007:start #}
      {{ contributorsResponsibility(contributorsItems, uuids.contributorRoleDataProtectorAUuid, "負責所有與個人資料保護及一般資料保護政策相關的議題。") }}
      {# __tr_block_0007:end #}{# Data protection officers #}{# __tr_block_0008:start #}
      {{ contributorsResponsibility(contributorsItems, uuids.contributorRoleCreatorOfDMPAUuid, "負責執行資料管理方案，並確保其經過審查與修訂。") }}
    {# __tr_block_0008:end #}{%- endif -%}
  </div>
</div>
