<div id="dmp-versions">
  <table>
    <thead>
      <tr>
        {# __tr_block_0000:start #}<th colspan="3" class="title">變更紀錄</th>{# __tr_block_0000:end #}
      </tr>
      <tr>
        {# __tr_block_0001:start #}<th>版本</th>{# __tr_block_0001:end #}
        {# __tr_block_0002:start #}<th>發布日期</th>{# __tr_block_0002:end #}
        {# __tr_block_0003:start #}<th>變更</th>{# __tr_block_0003:end #}
      </tr>
    </thead>
    <tbody>
      {% for version in dc.project.versions|reverse %}
        <tr>
          <td class="version-name">{{ version.name }}</td>
          <td class="version-date">{{ version.created_at|datetime_format("%d %b %Y") }}</td>
          <td class="version-changes">{{ version.description }}</td>
        </tr>
      {% else %}
        <tr>
          <td colspan="3" class="no-versions">{# __tr_block_0004:start #}沒有命名版本{# __tr_block_0004:end #}</tr>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
