<div id="q-store-backup" class="question">
  {# __tr_block_0000:start #}<h3>5. 研究期間將如何儲存與備份資料和後設資料？</h3>{# __tr_block_0000:end #}

  <div class="answer">
    {# Data stored by members (no shared workspace) #}
    {%- set sharedWorkspacePath = [uuids.processingCUuid, uuids.sharedWorkspaceQUuid]|reply_path -%}
    {%- set sharedWorkspaceAUuid = repliesMap[sharedWorkspacePath]|reply_str_value -%}
    {%- if sharedWorkspaceAUuid == uuids.sharedWorkspaceNoAUuid -%}
      {# __tr_block_0001:start #}<p>專案期間沒有使用共享工作區來處理資料。</p>{# __tr_block_0001:end #}
      {%- set notSharedBackupPath = [sharedWorkspacePath, uuids.sharedWorkspaceNoAUuid, uuids.notSharedBackupQUuid]|reply_path -%}
      {%- set notSharedBackupAUuid = repliesMap[notSharedBackupPath]|reply_str_value -%}
      {%- if notSharedBackupAUuid == uuids.notSharedBackupYesAUuid -%}
        {# __tr_block_0002:start #}<p>專案成員自己儲存的資料已充分備份並可追溯。因此，資料可以免受設備故障和人為錯誤的影響。</p>{# __tr_block_0002:end #}
      {%- endif -%}
    {%- elif sharedWorkspaceAUuid == uuids.sharedWorkspaceYesAUuid -%}
      {# __tr_block_0003:start #}<p>專案期間使用一個共享工作區來處理資料。</p>{# __tr_block_0003:end #}
      {%- set sharedHowPath = [sharedWorkspacePath, uuids.sharedWorkspaceYesAUuid, uuids.sharedHowQUuid]|reply_path -%}
      {%- set sharedHowAUuid = repliesMap[sharedHowPath]|reply_str_value -%}
      {%- if sharedHowAUuid == uuids.sharedHowExploreAUuid -%}
        {%- set sharedHowChangePath = [sharedHowPath, uuids.sharedHowExploreAUuid, uuids.sharedHowChangeQUuid]|reply_path -%}
        {%- set sharedHowChangeAUuid = repliesMap[sharedHowChangePath]|reply_str_value -%}
        {%- if sharedHowChangeAUuid == uuids.sharedHowChangeSameAUuid -%}
          {# __tr_block_0004:start #}<p>整個專案期間的儲存需求是相同的。</p>{# __tr_block_0004:end #}
        {%- elif sharedHowChangeAUuid == uuids.sharedHowChangeLargeAUuid -%}
          {# __tr_block_0005:start #}<p>開始時儲存需求較大，後期會減少。</p>{# __tr_block_0005:end #}
        {%- elif sharedHowChangeAUuid == uuids.sharedHowChangeSmallAUuid -%}
          {# __tr_block_0006:start #}<p>儲存需求一開始很小，以後會增加。</p>{# __tr_block_0006:end #}
        {%- elif sharedHowChangeAUuid == uuids.sharedHowChangeMiddleAUuid -%}
          {# __tr_block_0007:start #}<p>專案中期的儲存需求最大。</p>{# __tr_block_0007:end #}
        {%- endif -%}
      {%- endif -%}
      {%- set sharedReliablePath = [sharedWorkspacePath, uuids.sharedWorkspaceYesAUuid, uuids.sharedReliableQUuid]|reply_path -%}
      {%- set sharedReliableAUuid = repliesMap[sharedReliablePath]|reply_str_value -%}
      {%- if sharedReliableAUuid == uuids.sharedReliableExploreAUuid -%}
        {%- set sharedReliablePreventLossPath = [sharedReliablePath, uuids.sharedReliableExploreAUuid, uuids.sharedReliablePreventLossQUuid]|reply_path -%}
        {%- set sharedReliablePreventLossAUuid = repliesMap[sharedReliablePreventLossPath]|reply_str_value -%}
        {%- set sharedReliableBackupPath = [sharedReliablePath, uuids.sharedReliableExploreAUuid, uuids.sharedReliableBackupQUuid]|reply_path -%}
        {%- set sharedReliableBackupAUuid = repliesMap[sharedReliableBackupPath]|reply_str_value -%}
        {%- if sharedReliablePreventLossAUuid or sharedReliableBackupAUuid -%}
          {# __tr_block_0008:start #}<p>
          {%- if sharedReliablePreventLossAUuid == uuids.sharedReliablePreventLossSufficientAUuid %}
            工作空間在防止資料完全遺失方面提供了充分的保證。
          {%- elif sharedReliablePreventLossAUuid == uuids.sharedReliablePreventLossStoredAUuid %}
            所有重要資料也儲存在其他地方，以防止資料完全遺失。
          {%- endif -%}
          {%- if sharedReliableBackupAUuid == uuids.sharedReliableBackupCopyLeftAUuid %}
            不在工作空間中的專案資料，其備份由專案參與者負責。
          {%- elif sharedReliableBackupAUuid == uuids.sharedReliableBackupCopyNoDataAUuid %}
            資料僅儲存在工作空間中，因此需要在工作空間之外對檔案進行額外的備份副本。
          {%- elif sharedReliableBackupAUuid == uuids.sharedReliableBackupCopyAllSomewhereAUuid %}
            儲存在工作區域之外的所有專案資料都將充分備份。
          {%- elif sharedReliableBackupAUuid == uuids.sharedReliableBackupCopyBackupsAUuid %}
            我們將對工作區域之外儲存的所有資料進行（自動）備份。
          {%- endif -%}{# __tr_block_0008:end #}
          </p>
        {%- endif -%}
      {%- endif -%}
    {%- endif -%}
  </div>

</div>
