<div id="q-data-preservation" class="question">
  {# __tr_block_0000:start #}<h3>11. 將如何選擇要保存的資料，以及資料將在哪裡長期保存（例如資料儲存庫或典藏庫）？</h3>{# __tr_block_0000:end #}

  <div class="answer">
    {# Produced datasets #}
    {%- set producedDataPath = [uuids.preservingCUuid, uuids.producedDataQUuid]|reply_path -%}
    {%- set producedDataItems = repliesMap[producedDataPath]|reply_items -%}
    {%- if producedDataItems|length > 0 -%}
      {# __tr_block_0001:start #}<p>
      我們計畫產生以下資料集：
      <ul>
      {%- for i in producedDataItems -%}
        {%- set pathPrefix = [producedDataPath, i]|reply_path -%}
        {%- set producedDataName = repliesMap[[pathPrefix, uuids.producedDataNameQUuid]|reply_path]|reply_str_value -%}
        <li>
          <strong>{# __tr_inline_if_original:e3sgcHJvZHVjZWREYXRhTmFtZSBpZiBwcm9kdWNlZERhdGFOYW1lIGVsc2UgIihubyBuYW1lIGdpdmVuKSIgfX0= #}{% if producedDataName %}{{ producedDataName }}{% else %}（未提供名稱）{% endif %}{# __tr_inline_if_original:end #}</strong>
          {# If will be published #}
          {%- set isPublishedDataPath = [pathPrefix, uuids.isPublishedDataQUuid]|reply_path -%}
          {%- set isPublishedDataAUuid = repliesMap[isPublishedDataPath]|reply_str_value -%}
          {% if isPublishedDataAUuid == uuids.isPublishedDataNoAUuid %}
            （未發布）
          {% elif isPublishedDataAUuid == uuids.isPublishedDataYesAUuid %}
            （將發布）
          {% endif -%}
          {# How long will be stored + Metadata FAIRness #}
          {%- set publishedDataHowLongPath = [pathPrefix, uuids.publishedDataHowLongQUuid]|reply_path -%}
          {%- set publishedDataHowLongAUuid = repliesMap[publishedDataHowLongPath]|reply_str_value -%}
          {%- set publishedDataMetadataPersistentPath = [pathPrefix, uuids.publishedDataMetadataPersistentQUuid]|reply_path -%}
          {%- set publishedDataMetadataPersistentAUuid = repliesMap[publishedDataMetadataPersistentPath]|reply_str_value -%}
          {%- if publishedDataHowLongAUuid or (publishedDataMetadataPersistentAUuid == uuids.publishedDataMetadataPersistentYesAUuid) %}
            {% if publishedDataHowLongAUuid == uuids.publishedDataHowLongTechnicalAUuid -%}
              <p>只要技術上可行，該資料集將保持可取得。</p>
            {%- elif publishedDataHowLongAUuid == uuids.publishedDataHowLongDeletedAUuid -%}
              <p>該資料集將保持可取得，直到因法律、合約或監管原因需要刪除為止。</p>
            {%- elif publishedDataHowLongAUuid == uuids.publishedDataHowLongFixedAUuid -%}
              {%- set publishedDataHowLongFixedPath = [publishedDataHowLongPath, uuids.publishedDataHowLongFixedAUuid, uuids.publishedDataHowLongFixedQUuid]|reply_path -%}
              {%- set publishedDataHowLongFixed = repliesMap[publishedDataHowLongFixedPath]|reply_str_value -%}
              {%- if publishedDataHowLongFixed %}
                <p>此資料集將在固定期限（預付費）內保留：{{ publishedDataHowLongFixed }}。</p>
              {%- else %}
                <p>該資料集將在固定期限內保留（預付）。</p>
              {%- endif %}
            {%- endif -%}
            {%- if publishedDataMetadataPersistentAUuid == uuids.publishedDataMetadataPersistentYesAUuid %}
              <p>即使資料不再存在，後設資料也將可取得。</p>
            {%- endif -%}
          {%- endif -%}

           {# Distributions #}
          {% set distrosPath = [isPublishedDataPath, uuids.isPublishedDataYesAUuid, uuids.publishedDistrosQUuid]|reply_path -%}
          {%- set distrosItems = repliesMap[distrosPath]|reply_items -%}
          {%- if distrosItems|length > 0 -%}
            <p>分佈將儲存在：</p>
            <ul>
            {%- for j in distrosItems -%}
              {%- set distroPrefix = [distrosPath, j]|reply_path -%}
              {%- set distroRepositoryKindPath = [distroPrefix, uuids.publishedDataRepositoryKindQUuid]|reply_path -%}
              {%- set distroRepositoryKindAUuid = repliesMap[distroRepositoryKindPath]|reply_str_value -%}
              {%- if distroRepositoryKindAUuid -%}
                <li>
                  {%- if distroRepositoryKindAUuid == uuids.publishedDataRepositoryDomainSpecificAUuid %}
                    領域專用儲存庫
                    {%- set domainSpecificRepoNamePath = [distroRepositoryKindPath, uuids.publishedDataRepositoryDomainSpecificAUuid, uuids.domainSpecificRepoNameQUuid]|reply_path -%}
                    {%- set domainSpecificRepoNameReply = repliesMap[domainSpecificRepoNamePath] -%}
                    {%- if domainSpecificRepoNameReply -%}
                      ：{{ macros.integrationFairSharing(domainSpecificRepoNameReply) }}.
                    {%- else -%}。
                    {% endif -%}
                    {# Contact the repository #}
                    {%- set domainSpecificRepoContactBeforePath = [distroRepositoryKindPath, uuids.publishedDataRepositoryDomainSpecificAUuid, uuids.domainSpecificRepoContactBeforeQUuid]|reply_path -%}
                    {%- set domainSpecificRepoContactBeforeAUuid = repliesMap[domainSpecificRepoContactBeforePath]|reply_str_value -%}
                    {%- if domainSpecificRepoContactBeforeAUuid == uuids.domainSpecificRepoContactBeforeNoAUuid %}
                      我們不需要聯繫儲存庫，因為這對我們來說是例行公事。
                    {%- elif domainSpecificRepoContactBeforeAUuid == uuids.domainSpecificRepoContactBeforeYesAlreadyAUuid %}
                      我們已經聯繫了儲存庫。
                    {%- elif domainSpecificRepoContactBeforeAUuid == uuids.domainSpecificRepoContactBeforeYesWillAUuid %}
                      我們將聯繫儲存庫。
                    {%- elif domainSpecificRepoContactBeforeAUuid == uuids.domainSpecificRepoContactBeforeOtherAUuid %}
                      {%- set domainSpecificRepoContactBeforeOtherPath = [domainSpecificRepoContactBeforePath, uuids.domainSpecificRepoContactBeforeOtherAUuid, uuids.domainSpecificRepoContactBeforeOtherQUuid]|reply_path -%}
                      {%- set domainSpecificRepoContactBeforeOther = repliesMap[domainSpecificRepoContactBeforeOtherPath]|reply_str_value %}
                      {%- if domainSpecificRepoContactBeforeOther %}
                        我們做了其他安排，而不是直接聯絡儲存庫：{{ domainSpecificRepoContactBeforeOther }}。
                      {%- else %}
                        我們做了其他安排，而不是直接聯絡儲存庫。
                      {%- endif %}
                    {%- endif -%}
                  {%- elif distroRepositoryKindAUuid == uuids.publishedDataRepositoryGeneralPurposeAUuid %}
                    通用儲存庫
                    {%- set generalPurposeRepoNamePath = [distroRepositoryKindPath, uuids.publishedDataRepositoryGeneralPurposeAUuid, uuids.generalPurposeRepoNameQUuid]|reply_path -%}
                    {%- set generalPurposeRepoNameReply = repliesMap[generalPurposeRepoNamePath] -%}
                    {%- if generalPurposeRepoNameReply -%}
                      ：{{ macros.integrationFairSharing(generalPurposeRepoNameReply) }}.
                    {%- else -%}。
                    {% endif -%}
                  {%- elif distroRepositoryKindAUuid == uuids.publishedDataRepositoryNationalAUuid %}
                    我們的國家儲存庫。
                  {%- elif distroRepositoryKindAUuid == uuids.publishedDataRepositoryInstitutionalAUuid %}
                    我們的機構儲存庫。
                  {%- elif distroRepositoryKindAUuid == uuids.publishedDataRepositorySpecialAUuid %}
                    此專案的專用儲存庫。
                    {# Long-term support #}
                    {%- set specialRepoLongTermSupportPath = [distroRepositoryKindPath, uuids.publishedDataRepositorySpecialAUuid, uuids.specialRepoLongTermSupportQUuid]|reply_path -%}
                    {%- set specialRepoLongTermSupportAUuid = repliesMap[specialRepoLongTermSupportPath]|reply_str_value -%}
                    {%- if specialRepoLongTermSupportAUuid == uuids.specialRepoLongTermSupportYesAUuid %}
                      我們將能夠在足夠長的時間內支援這個儲存庫。
                    {%- endif -%}
                    {# Service level #}
                    {%- set specialRepoServiceLevelPath = [distroRepositoryKindPath, uuids.publishedDataRepositorySpecialAUuid, uuids.specialRepoServiceLevelQUuid]|reply_path -%}
                    {%- set specialRepoServiceLevelAUuid = repliesMap[specialRepoServiceLevelPath]|reply_str_value -%}
                    {%- if specialRepoServiceLevelAUuid == uuids.specialRepoServiceLevelDownloadAUuid %}
                      此儲存庫將提供僅供下載的服務。
                    {%- elif specialRepoServiceLevelAUuid == uuids.specialRepoServiceLevelSimpleAUuid %}
                      該儲存庫將提供搜尋和簡單的存取介面。
                    {%- elif specialRepoServiceLevelAUuid == uuids.specialRepoServiceLevelAdvancedAUuid %}
                      該儲存庫將提供先進的處理服務。
                    {%- endif -%}
                  {%- endif -%}
                </li>
              {%- endif -%}
            {%- endfor -%}
            </ul>
          {%- endif -%}
          {# Catalogue #}
          {%- set publishedDataCataloguePath = [isPublishedDataPath, uuids.isPublishedDataYesAUuid, uuids.publishedDataCatalogueQUuid]|reply_path -%}
          {%- set publishedDataCatalogueAUuid = repliesMap[publishedDataCataloguePath]|reply_str_value -%}
          {%- if publishedDataCatalogueAUuid == uuids.publishedDataCatalogueYesAUuid -%}
            <br>我們將對已發布資料的引用新增至至少一個資料目錄。
          {%- endif -%}
        </li>
        <br>
      {%- endfor -%}{# __tr_block_0001:end #}
      </ul>
    {# Repository charges #}
    {%- set repoChargesPath = [uuids.preservingCUuid, uuids.repoChargesQUuid]|reply_path -%}
    {%- set repoChargesAUuid = repliesMap[repoChargesPath]|reply_str_value -%}
    {%- if repoChargesAUuid == uuids.repoChargesNoAUuid -%}
      {# __tr_block_0002:start #}<p>所使用的儲存庫均不收取服務費用。</p>{# __tr_block_0002:end #}
    {%- elif repoChargesAUuid == uuids.repoChargesYesAUuid -%}
      {%- set repoChargesHowPayPath = [repoChargesPath, uuids.repoChargesYesAUuid, uuids.repoChargesHowPayQUuid]|reply_path -%}
      {%- set repoChargesHowPayAUuid = repliesMap[repoChargesHowPayPath]|reply_str_value -%}
      {%- if repoChargesHowPayAUuid == uuids.repoChargesHowPayBudgetedAUuid -%}
        {# __tr_block_0003:start #}<p>我們已經對專案成本進行了預算，以支付所用儲存庫的費用。</p>{# __tr_block_0003:end #}
      {%- elif repoChargesHowPayAUuid == uuids.repoChargesHowPayDepartmentAUuid -%}
        {# __tr_block_0004:start #}<p>與所用儲存庫相關的費用將由參與專案的（其中一個）部門承擔。</p>{# __tr_block_0004:end #}
      {%- elif repoChargesHowPayAUuid == uuids.repoChargesHowPayInstituteAUuid -%}
        {# __tr_block_0005:start #}<p>與所用儲存庫相關的費用將由參與該專案的（其中之一）機構承擔。</p>{# __tr_block_0005:end #}
      {%- elif repoChargesHowPayAUuid == uuids.repoChargesHowPayOtherAUuid -%}
        {%- set repoChargesHowPayOtherPath = [repoChargesHowPayPath, uuids.repoChargesHowPayOtherAUuid, uuids.repoChargesHowPayOtherQUuid]|reply_path -%}
        {%- set repoChargesHowPayOther = repliesMap[repoChargesHowPayOtherPath]|reply_str_value -%}
        {%- if repoChargesHowPayOther -%}
          {# __tr_block_0006:start #}<p>我們將透過以下方式承擔與已使用儲存庫相關的費用：{{ repoChargesHowPayOther|dot }}</p>{# __tr_block_0006:end #}
        {%- endif -%}
      {%- endif -%}
    {%- endif -%}
    {# Budget time and effort #}
    {%- set budgetTimeEffortPath = [uuids.preservingCUuid, uuids.budgetTimeEffortQUuid]|reply_path -%}
    {%- set budgetTimeEffortAUuid = repliesMap[budgetTimeEffortPath]|reply_str_value -%}
    {%- if budgetTimeEffortAUuid == uuids.budgetTimeEffortYesAUuid -%}
      {# __tr_block_0007:start #}<p>我們為準備發布資料所需的時間和精力預留了預算。</p>{# __tr_block_0007:end #}
    {%- endif -%}
  {%- endif -%}
  </div>
</div>
