<div id="q-persistent-identifier" class="question">
    {# __tr_block_0000:start #}<h3>13. 將如何確保每個資料集都套用唯一且持續的識別碼（例如數位物件識別碼 DOI）？</h3>{# __tr_block_0000:end #}

    <div class="answer">
    {# identifiers #}
    {# __tr_block_0001:start #}<h4>確保已發布資料具備 PID</h4>{# __tr_block_0001:end #}
    {%- set producedDataPath = [uuids.preservingCUuid, uuids.producedDataQUuid]|reply_path -%}
    {%- set producedDataItems = repliesMap[producedDataPath]|reply_items -%}
    {%- if producedDataItems|length > 0 -%}
        <ul>
        {%- for i in producedDataItems -%}
            {%- set pathPrefix = [producedDataPath, i]|reply_path -%}
            {%- set producedDataName = repliesMap[[pathPrefix, uuids.producedDataNameQUuid]|reply_path]|reply_str_value -%}
            {# If will be published #}
            {%- set isPublishedDataPath = [pathPrefix, uuids.isPublishedDataQUuid]|reply_path -%}
            {%- set isPublishedDataAUuid = repliesMap[isPublishedDataPath]|reply_str_value -%}
            {% if isPublishedDataAUuid == uuids.isPublishedDataYesAUuid %}
            {# __tr_block_0002:start #}<li>
                <strong>{# __tr_inline_if_original:e3sgcHJvZHVjZWREYXRhTmFtZSBpZiBwcm9kdWNlZERhdGFOYW1lIGVsc2UgIihubyBuYW1lIGdpdmVuKSIgfX0= #}{% if producedDataName %}{{ producedDataName }}{% else %}（未提供名稱）{% endif %}{# __tr_block_0002:end #}{# __tr_inline_if_original:end #}</strong>
                {# Where the data will be distributed #}
                {%- set publishedDistrosPath = [isPublishedDataPath, uuids.isPublishedDataYesAUuid, uuids.publishedDistrosQUuid]|reply_path -%}
                {%- set publishedDistrosItems = repliesMap[publishedDistrosPath]|reply_items -%}
                    {%- if publishedDistrosItems|length > 0  -%}
                    {# __tr_branch_sentence_original:PHA-VGhpcyBkYXRhIHdpbGwgYmUgZGlzdHJpYnV0ZWQgaW4gZm9sbG93aW5nIHsjIF9fdHJfaW5saW5lX2lmX29yaWdpbmFsOmUzc2dJbkpsY0c5emFYUnZjbWxsY3lJZ2FXWWdjSFZpYkdsemFHVmtSR2x6ZEhKdmMwbDBaVzF6Zkd4bGJtZDBhQ0EtSURFZ1pXeHpaU0FpY21Wd2IzTnBkRzl5ZVNJZ2ZYMD0gI317JSBpZiBwdWJsaXNoZWREaXN0cm9zSXRlbXN8bGVuZ3RoID4gMSAlfXt7ICJyZXBvc2l0b3JpZXMiIH19eyUgZWxzZSAlfXt7ICJyZXBvc2l0b3J5IiB9fXslIGVuZGlmICV9eyMgX190cl9pbmxpbmVfaWZfb3JpZ2luYWw6ZW5kICN9OjwvcD4= #}{% if publishedDistrosItems|length > 1 %}{# __tr_block_0003:start #}<p>該資料將分佈在以下儲存庫中：</p>{# __tr_block_0003:end #}{% else %}{# __tr_block_0004:start #}<p>該資料將分佈在以下儲存庫中：</p>{# __tr_block_0004:end #}{% endif %}{# __tr_branch_sentence_original:end #}
                    <ul>
                        {%- for j in publishedDistrosItems -%}
                            {%- set publishedDistrosItem = [publishedDistrosPath, j]|reply_path -%}
                            {%- set publishedDataIdentifierQUuid = [publishedDistrosItem, uuids.publishedDataIdentifierQUuid]|reply_path -%}
                            {%- set publishedDataIdentifierAUuid = repliesMap[publishedDataIdentifierQUuid]|reply_str_value -%}

                            {%- set repositoryKindQUuid = [publishedDistrosItem, uuids.publishedDataRepositoryKindQUuid]|reply_path -%}
                            {%- set repositoryKindAUuid = repliesMap[repositoryKindQUuid]|reply_str_value -%}
                            {# __tr_block_0005:start #}<li>
                            {%- if repositoryKindAUuid == uuids.publishedDataRepositoryDomainSpecificAUuid -%}
                                領域專用儲存庫
                            {%- elif repositoryKindAUuid == uuids.publishedDataRepositoryGeneralPurposeAUuid -%}
                                通用儲存庫
                            {%- elif repositoryKindAUuid == uuids.publishedDataRepositoryNationalAUuid -%}
                               國家儲存庫
                            {%- elif repositoryKindAUuid == uuids.publishedDataRepositoryInstitutionalAUuid -%}
                                機構儲存庫
                            {%- elif repositoryKindAUuid == uuids.publishedDataRepositorySpecialAUuid -%}
                                專案專用儲存庫
                            {%- endif -%}

                            {# Will this data be assigned persistent identifier? #}
                            {%- if publishedDataIdentifierAUuid == uuids.publishedDataIdentifierYesAUuid -%}
                            <p>在此儲存庫中，將如下套用唯一且持久的識別碼：</p>
                            <ul>
                                {# Who assigns #}
                                {%- set publishedDataIdentifierAssignsQUuid = [publishedDataIdentifierQUuid, uuids.publishedDataIdentifierYesAUuid, uuids.publishedDataIdentifierAssignsQUuid]|reply_path -%}
                                {%- set publishedDataIdentifierAssignsAUuid = repliesMap[publishedDataIdentifierAssignsQUuid]|reply_str_value -%}

                                {%- if publishedDataIdentifierAssignsAUuid == uuids.publishedDataIdentifierAssignsProjectDataStewardAUuid -%}
                                    <p>專案資料管理專員或計畫主持人將分配持續識別碼。</p>

                                {%- elif publishedDataIdentifierAssignsAUuid == uuids.publishedDataIdentifierAssignsInstitDataStewardAUui -%}
                                    <p>機構資料管理專員將分配持續識別碼。</p>

                                {%- elif publishedDataIdentifierAssignsAUuid == uuids.publishedDataIdentifierAssignsRepositoryAUuid -%}
                                    <p>儲存庫將分配持續識別碼。</p>
                                {%- endif -%}

                                {# Resolvable #}
                                {%- set publishedDataIdentifierResolvableQUuid = [publishedDataIdentifierQUuid, uuids.publishedDataIdentifierYesAUuid, uuids.publishedDataIdentifierResolvableQUuid]|reply_path -%}
                                {%- set publishedDataIdentifierResolvableAUuid = repliesMap[publishedDataIdentifierResolvableQUuid]|reply_str_value -%}

                                {%- if publishedDataIdentifierResolvableAUuid == uuids.publishedDataIdentifierResolvableYesAUuid -%}
                                    <p>儲存庫將確保持續識別碼可以解析為數位物件。</p>

                                {%- elif publishedDataIdentifierResolvableAUuid == uuids.publishedDataIdentifierResolvableNoAUuid -%}
                                    <p>儲存庫不會確保持續識別碼可以解析為數位物件。</p>
                                {%- endif -%}

                                {# Specification #}
                                {%- set publishedDataIdentifierSpecifyQUuid = [publishedDataIdentifierQUuid, uuids.publishedDataIdentifierYesAUuid, uuids.publishedDataIdentifierSpecifyQUuid]|reply_path -%}
                                {%- set publishedDataIdentifierSpecifyReply = repliesMap[publishedDataIdentifierSpecifyQUuid]|reply_str_value -%}

                                {%- if publishedDataIdentifierSpecifyReply -%}
                                    <p>分配的持續識別碼指定如下：{{ publishedDataIdentifierSpecifyReply }}。</p>
                                {%- endif -%}
                            </ul>
                            {%- endif -%}
                            </li>{# __tr_block_0005:end #}
                        {%- endfor -%}
                        {# __tr_block_0006:start #}<p>在此儲存庫中，將不會套用唯一且持久的識別碼。</p>{# __tr_block_0006:end #}
                    </ul>
                    {%- endif -%}
            {%- endif -%}
            </li>
        {%- endfor -%}
        </ul>
    {%- endif -%}

    {# Explain how the data might be re-used in other contexts. #}
    {# __tr_block_0007:start #}<h4>產生資料在其他情境中再次使用的可能性</h4>{# __tr_block_0007:end #}{# __tr_block_0008:start #}
    解釋如何在其他情況下再次使用蒐集或建立的資料：

    {# __tr_block_0008:end #}{%- set dataMeasuredQUuid = [uuids.creatingCUuid, uuids.measuredQUuid]|reply_path  -%}
    {%- set dataMeasuredAUuid = repliesMap[dataMeasuredQUuid]|reply_str_value -%}

    {%- if dataMeasuredAUuid == uuids.measuredYesAUuid  -%}

        {%- set dataMeasuredPath = [dataMeasuredQUuid, uuids.measuredYesAUuid, uuids.measuredDataQUuid]|reply_path -%}
        {%- set dataMeasuredItems = repliesMap[dataMeasuredPath]|reply_items -%}
        <ul>
        {%- for k in dataMeasuredItems -%}
            {%- set measuredDataItem = [dataMeasuredPath, k]|reply_path -%}
            {%- set measuredDataNameQUuid = [measuredDataItem, uuids.measuredDataNameQUuid]|reply_path -%}
            {%- set measuredDataNameReply = repliesMap[measuredDataNameQUuid]|reply_str_value -%}
            {# __tr_block_0009:start #}<li>
            <strong>{# __tr_inline_if_original:e3sgbWVhc3VyZWREYXRhTmFtZVJlcGx5IGlmIG1lYXN1cmVkRGF0YU5hbWVSZXBseSBlbHNlICIobm8gbmFtZSBnaXZlbikiIH19 #}{% if measuredDataNameReply %}{{ measuredDataNameReply }}{% else %}（未提供名稱）{% endif %}{# __tr_block_0009:end #}{# __tr_inline_if_original:end #}</strong>
            {%- set measuredDataReuseQUuid = [measuredDataItem, uuids.measuredDataReuseQUuid]|reply_path -%}
            {%- set measuredDataReuseAUuid = repliesMap[measuredDataReuseQUuid]|reply_str_value -%}

            {%- if measuredDataReuseAUuid == uuids.measuredDataReuseUsAUuid -%}
                {# __tr_block_0010:start #}<p>只有我們會對再次使用這些資料感興趣。</p>{# __tr_block_0010:end #}

            {%- elif measuredDataReuseAUuid == uuids.measuredDataReuseSameFieldAUuid  -%}
                {# __tr_block_0011:start #}<p>該領域的其他研究人員將有興趣再次使用這些資料。</p>{# __tr_block_0011:end #}
            {%- elif measuredDataReuseAUuid == uuids.measuredDataReuseOtherFieldAUuid -%}
                {%- set measuredDataReuseOtherFieldHowQUuid = [measuredDataReuseQUuid, uuids.measuredDataReuseOtherFieldAUuid, uuids.measuredDataReuseOtherFieldHowQUuid]|reply_path -%}
                {%- set measuredDataReuseOtherFieldHowReply = repliesMap[measuredDataReuseOtherFieldHowQUuid]|reply_str_value -%}
{# __tr_branch_sentence_original:CiAgICAgICAgICAgICAgICA8cD5SZXNlYXJjaGVycyB3b3JraW5nIGluIG90aGVyIGZpZWxkcyB3aWxsIGJlIGludGVyZXN0ZWQgaW4gcmUtdXNpbmcgdGhpcyBkYXRhCiAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgIHslLSBpZiBtZWFzdXJlZERhdGFSZXVzZU90aGVyRmllbGRIb3dSZXBseSAtJX0KICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgIHt7IiAifX1iZWNhdXNlOiB7e21lYXN1cmVkRGF0YVJldXNlT3RoZXJGaWVsZEhvd1JlcGx5fGRvdH19PC9wPgogICAgICAgICAgICAgICAgeyUtIGVsc2UgLSV9CiAgICAgICAgICAgICAgICAuCiAgICAgICAgICAgICAgICB7JS0gZW5kaWYgLSV9Cg== #}
                {%- if measuredDataReuseOtherFieldHowReply -%}
                {# __tr_block_0012:start #}<p>其他領域的研究人員會對再次使用這些資料感興趣，因為：{{ measuredDataReuseOtherFieldHowReply|dot }}</p>{# __tr_block_0012:end #}
                {%- else -%}
                {# __tr_block_0013:start #}<p>其他領域的研究人員會對再次使用這些資料感興趣。</p>{# __tr_block_0013:end #}
                {%- endif -%}
{# __tr_branch_sentence_original:end #}
            {%- endif -%}
            </li>
        {%- endfor -%}
        </ul>

    {%- endif -%}



    </div>
</div>
