<div id="q-required-resources" class="question">
  {# __tr_block_0000:start #}<h3>15. What resources (for example financial and time) will be dedicated to data management and ensuring that data will be FAIR (Findable, Accessible, Interoperable, Re-usable)?</h3>{# __tr_block_0000:end #}

  <div class="answer">
    {# additional expertise #}
    {%- set expertisePath = [uuids.adminDetailsCUuid, uuids.additionalExpertiseQUuid]|reply_path -%}
    {%- set expertiseAUuid = repliesMap[expertisePath]|reply_str_value -%}
    {%- if expertiseAUuid == uuids.additionalExpertiseNoAUuid -%}
      {# __tr_block_0001:start #}<p>To execute the DMP, no additional specialist expertise is required.</p>{# __tr_block_0001:end #}
    {%- elif expertiseAUuid == uuids.additionalExpertiseYesAvailableAUuid -%}
      {# __tr_block_0002:start #}<p>To execute the DMP, additional specialist expertise is required and we have such trained support staff available.</p>{# __tr_block_0002:end #}
    {%- elif expertiseAUuid == uuids.additionalExpertiseYesTrainAUuid -%}
      {# __tr_block_0003:start #}<p>
        To execute the DMP, additional specialist expertise is required. We will be training existing staff
        {%- set expertiseTrainPath = [expertisePath, uuids.additionalExpertiseYesTrainAUuid, uuids.additionalExpertiseYesTrainTrainingQUuid]|reply_path -%}
        {%- set expertiseTrainText = repliesMap[expertiseTrainPath]|reply_str_value -%}
        {%- if expertiseTrainText %}
          {{" "}}on: {{ expertiseTrainText}}
        {%- endif -%}
        .
      </p>{# __tr_block_0003:end #}
    {%- elif expertiseAUuid == uuids.additionalExpertiseYesHireAUuid -%}
      {# __tr_block_0004:start #}<p>
        To execute the DMP, additional specialist expertise is required. We will be hiring new people with additional expertise
        {%- set expertiseHirePath = [expertisePath, uuids.additionalExpertiseYesHireAUuid, uuids.additionalExpertiseYesHireExpertiseQUuid]|reply_path -%}
        {%- set expertiseHireText = repliesMap[expertiseHirePath]|reply_str_value -%}
        {%- if expertiseHireText %}
          {{" "}}in: {{ expertiseHireText}}
        {%- endif -%}
        .
      </p>{# __tr_block_0004:end #}
    {%- endif -%}
    {# additional hw/sw #}
    {%- set additionalHWSWPath = [uuids.adminDetailsCUuid, uuids.additionalHWSWQUuid]|reply_path -%}
    {%- set additionalHWSWAUuid = repliesMap[additionalHWSWPath]|reply_str_value -%}
    {%- if additionalHWSWAUuid == uuids.additionalHWSWNoAUuid -%}
      {# __tr_block_0005:start #}<p>We do not require any hardware or software in addition to what is usually available in the institute.</p>{# __tr_block_0005:end #}
    {%- elif additionalHWSWAUuid == uuids.additionalHWSWYesAUuid -%}
      {%- set additionalHWSWWhatPath = [additionalHWSWPath, uuids.additionalHWSWYesAUuid, uuids.additionalHWSWYesWhatQUuid]|reply_path -%}
      {%- set additionalHWSWWhat = repliesMap[additionalHWSWWhatPath]|reply_str_value -%}
      {%- if additionalHWSWWhat -%}
        {# __tr_block_0006:start #}<p>We require the following hardware or software in addition to what is usually available in the institute: {{ additionalHWSWWhat|dot }}</p>{# __tr_block_0006:end #}
      {%- else -%}
        {# __tr_block_0007:start #}<p>We require hardware or software in addition to what is usually available in the institute.</p>{# __tr_block_0007:end #}
      {%- endif -%}
    {%- endif -%}
    {# charges #}
    {# __tr_block_0008:start #}<p>Charges applied by data repositories (if any) are mentioned already in Section 4, Question 11.</p>{# __tr_block_0008:end #}
    {# costs #}
    {%- set projectPath = [uuids.adminDetailsCUuid, uuids.projectsQUuid]|reply_path -%}
    {%- set projectItems = repliesMap[projectPath]|reply_items -%}
    {%- if projectItems|length > 0 -%}
    {# __tr_block_0009:start #}<p>Following resources will be dedicated to data management and ensuring that data will be FAIR:</p>{# __tr_block_0009:end #}
    <ul>
        {%- for i in projectItems -%}
            {%- set projectItem = [projectPath, i]|reply_path -%}
            {%- set projectItemNameQUuid = [projectItem, uuids.projectNameQUuid]|reply_path -%}
            {%- set projectItemNameReply = repliesMap[projectItemNameQUuid]|reply_str_value -%}

            {%- set projectItemNumberQUuid = [projectItem, uuids.projectNumberQUuid]|reply_path -%}
            {%- set projectItemNumberReply = repliesMap[projectItemNumberQUuid]|reply_str_value -%}
            {# __tr_block_0010:start #}<li> 
                <strong>{# __tr_inline_if_original:e3sgcHJvamVjdEl0ZW1OYW1lUmVwbHkgaWYgcHJvamVjdEl0ZW1OYW1lUmVwbHkgZWxzZSAiKG5vIG5hbWUgZ2l2ZW4pIiB9fQ== #}{% if projectItemNameReply %}{{ projectItemNameReply }}{% else %}{{ "(no name given)" }}{% endif %}{# __tr_inline_if_original:end #}{{ " - " + projectItemNumberReply if projectItemNumberReply}} </strong>

                {%- set projectCostPath = [projectItem, uuids.costQUuid]|reply_path -%}
                {%- set projectCostItems = repliesMap[projectCostPath]|reply_items -%}

                {%- if projectCostItems|length > 0  -%}
                    <ul>
                    {%- for j in projectCostItems -%}
                        {%- set projectCostItem = [projectCostPath, j]|reply_path -%}
                        {%- set projectCostItemTitleQUuid = [projectCostItem, uuids.costTitleQUuid]|reply_path -%}
                        {%- set projectCostItemTitleReply = repliesMap[projectCostItemTitleQUuid]|reply_str_value -%}
                        <li>
                        <strong>{# __tr_inline_if_original:e3sgcHJvamVjdENvc3RJdGVtVGl0bGVSZXBseSBpZiBwcm9qZWN0Q29zdEl0ZW1UaXRsZVJlcGx5IGVsc2UgIihubyBuYW1lIGdpdmVuKSIgfX0= #}{% if projectCostItemTitleReply %}{{ projectCostItemTitleReply }}{% else %}{{ "(no name given)" }}{% endif %}{# __tr_inline_if_original:end #}</strong>
                        
                        {%- set projectCostItemDescriptionQUuid = [projectCostItem, uuids.costDescriptionQUuid]|reply_path -%}
                        {%- set projectCostItemDescriptionReply = repliesMap[projectCostItemDescriptionQUuid]|reply_str_value  -%}
                        
                        {{" - "+projectCostItemDescriptionReply|dot}}

                        {%- set projectCostItemCurrencyQUuid = [projectCostItem, uuids.costCurrencyQUuid]|reply_path  -%}
                        {%- set projectCostItemCurrencyReply = repliesMap[projectCostItemCurrencyQUuid] -%}


                        {%- set projectCostItemAmountQUuid = [projectCostItem, uuids.costAmountQUuid]|reply_path   -%}
                        {%- set projectCostItemAmountReply = repliesMap[projectCostItemAmountQUuid]|reply_str_value -%}

                        {%- if  projectCostItemAmountReply and projectCostItemCurrencyReply -%}
                            <p>The amount is {{projectCostItemAmountReply}} {{macros.integrationCurrency(projectCostItemCurrencyReply) }}.</p>
                        {%- endif -%}

                        {%- set projectCostItemAllocationQUuid = [projectCostItem, uuids.costAllocationQUuid]|reply_path  -%}
                        {%- set projectCostItemAllocationItems = repliesMap[projectCostItemAllocationQUuid]|reply_items -%}

                        
                          {%- set projectCostItemAllocations = [] -%}
                          {%- if uuids.costAllocationFindabilityAUuid in projectCostItemAllocationItems -%}
                            {%- do projectCostItemAllocations.append("ensuring findability") -%}
                          {%- endif -%}
                          {%- if uuids.costAllocationAccessibilityAUuid in projectCostItemAllocationItems -%}
                            {%- do projectCostItemAllocations.append("ensuring accessibility") -%}
                          {%- endif -%}
                          {%- if uuids.costAllocationInteroperabilityAUuid in projectCostItemAllocationItems -%}
                            {%- do projectCostItemAllocations.append("ensuring interoperability") -%}
                          {%- endif -%}
                          {%- if uuids.costAllocationReusabilityAUuid in projectCostItemAllocationItems -%}
                            {%- do projectCostItemAllocations.append("ensuring reusability") -%}
                          {%- endif -%}
                          {%- if uuids.costManagementAUuid in projectCostItemAllocationItems -%}
                            {%- do projectCostItemAllocations.append("supporting management") -%}
                          {%- endif -%}
                        
                        {%- if projectCostItemAllocations|length > 0 -%}
                          {# __tr_branch_sentence_original:PHA-CiAgICAgICAgICAgICAgICAgICAgICAgICAgICBUaGlzIHJlc291cmNlIGlzIGFsbG9jYXRlZCBmb3J7eysiICJ9fQogICAgICAgICAgICAgICAgICAgICAgICAgICAgeyUtIGlmIHByb2plY3RDb3N0SXRlbUFsbG9jYXRpb25zfGxlbmd0aCA-IDIgLSV9CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIHt7IHByb2plY3RDb3N0SXRlbUFsbG9jYXRpb25zWzA6LTFdfGpvaW4oIiwgIikgfX0sIGFuZCB7eyBwcm9qZWN0Q29zdEl0ZW1BbGxvY2F0aW9uc1stMV0gfX0gb2YgZGF0YS4KICAgICAgICAgICAgICAgICAgICAgICAgICAgIHslLSBlbGlmIHByb2plY3RDb3N0SXRlbUFsbG9jYXRpb25zfGxlbmd0aCA9PSAyIC0lfQogICAgICAgICAgICAgICAgICAgICAgICAgICAgICB7eyBwcm9qZWN0Q29zdEl0ZW1BbGxvY2F0aW9uc1swXSB9fSBhbmQge3sgcHJvamVjdENvc3RJdGVtQWxsb2NhdGlvbnNbMV0gfX0gb2YgZGF0YS4KICAgICAgICAgICAgICAgICAgICAgICAgICAgIHslLSBlbHNlIC0lfQogICAgICAgICAgICAgICAgICAgICAgICAgICAgICB7eyBwcm9qZWN0Q29zdEl0ZW1BbGxvY2F0aW9uc1swXSB9fSBvZiBkYXRhLgogICAgICAgICAgICAgICAgICAgICAgICAgICAgeyUtIGVuZGlmICV9CiAgICAgICAgICAgICAgICAgICAgICAgICAgPC9wPg== #}{%- if projectCostItemAllocations|length > 2 -%}<p>
                            This resource is allocated for{{+" "}}{{ projectCostItemAllocations[0:-1]|join(", ") }}, and {{ projectCostItemAllocations[-1] }} of data.
                          </p>{%- elif projectCostItemAllocations|length == 2 -%}<p>
                            This resource is allocated for{{+" "}}{{ projectCostItemAllocations[0] }} and {{ projectCostItemAllocations[1] }} of data.
                          </p>{%- else -%}<p>
                            This resource is allocated for{{+" "}}{{ projectCostItemAllocations[0] }} of data.
                          </p>{%- endif %}{# __tr_branch_sentence_original:end #}
                        {%- endif -%}
                       
 
                        {%- set projectCostItemCoverQUuid = [projectCostItem, uuids.costCoverQUuid]|reply_path  -%}
                        {%- set projectCostItemCoverReply = repliesMap[projectCostItemCoverQUuid]|reply_str_value -%}

                        {%- if projectCostItemCoverReply == uuids.costCoverGrantAUuid -%}
                          {%- set costCoverGrantIdQUuid = [projectCostItemCoverQUuid, uuids.costCoverGrantAUuid, uuids.costCoverGrantIdQUuid]|reply_path -%}
                          {%- set costCoverGrantIdReply = repliesMap[costCoverGrantIdQUuid]|reply_str_value -%}
                          <p>This cost will be covered by funding grant
                          {%- if costCoverGrantIdReply -%}
                            {{" "}}(grant number: {{costCoverGrantIdReply}})
                          {%- else -%}
                            . </p>
                          {%- endif -%}
                        {%- elif projectCostItemCoverReply == uuids.costCoverOtherAUuid -%}
                          {%- set costCoverOtherHowQUuid = [projectCostItemCoverQUuid,uuids.costCoverOtherAUuid, uuids.costCoverOtherHowQUuid]|reply_path  -%}
                          {%- set costCoverOtherHowReply = repliesMap[costCoverOtherHowQUuid]|reply_str_value -%}
                          {%- if costCoverOtherHowReply -%}
                            <p>This cost will be covered as follows: {{costCoverOtherHowReply}}.</p>
                          {%- endif -%}

                        {%- endif -%}


                        </li>
                    {%- endfor -%}
                    </ul>
                {%- endif -%}

            </li>{# __tr_block_0010:end #}

        {%- endfor -%}
    </ul>
    {%- endif -%}
  </div>
</div>
